body {
    font-family: Arial, sans-serif;
}

#people-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.person {
    text-align: center;
    margin-bottom: 5px
}

.person img {
    width: 50px; 
    height: auto;
}

.hours-text {
    margin-top: 5px;
}

#controls {
    margin-top: 15px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
